<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaozhu.zzpes.mapper.HerbInfoMapper">
  <resultMap id="BaseResultMap" type="com.xiaozhu.zzpes.entity.HerbInfo">
    <id column="herb_seq" jdbcType="BIGINT" property="herbSeq" />
    <result column="herb_name" jdbcType="VARCHAR" property="herbName" />
    <result column="herb_eng_name" jdbcType="VARCHAR" property="herbEngName" />
    <result column="herb_function" jdbcType="VARCHAR" property="herbFunction" />
    <result column="herb_disease" jdbcType="VARCHAR" property="herbDisease" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    herb_seq, herb_name, herb_eng_name, herb_function, herb_disease
  </sql>
  <select id="selectByExample" parameterType="com.xiaozhu.zzpes.entity.HerbInfoExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from herb_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from herb_info
    where herb_seq = #{herbSeq,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from herb_info
    where herb_seq = #{herbSeq,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.xiaozhu.zzpes.entity.HerbInfoExample">
    delete from herb_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.xiaozhu.zzpes.entity.HerbInfo">
    insert into herb_info (herb_seq, herb_name, herb_eng_name, 
      herb_function, herb_disease)
    values (#{herbSeq,jdbcType=BIGINT}, #{herbName,jdbcType=VARCHAR}, #{herbEngName,jdbcType=VARCHAR}, 
      #{herbFunction,jdbcType=VARCHAR}, #{herbDisease,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.xiaozhu.zzpes.entity.HerbInfo">
    insert into herb_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="herbSeq != null">
        herb_seq,
      </if>
      <if test="herbName != null">
        herb_name,
      </if>
      <if test="herbEngName != null">
        herb_eng_name,
      </if>
      <if test="herbFunction != null">
        herb_function,
      </if>
      <if test="herbDisease != null">
        herb_disease,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="herbSeq != null">
        #{herbSeq,jdbcType=BIGINT},
      </if>
      <if test="herbName != null">
        #{herbName,jdbcType=VARCHAR},
      </if>
      <if test="herbEngName != null">
        #{herbEngName,jdbcType=VARCHAR},
      </if>
      <if test="herbFunction != null">
        #{herbFunction,jdbcType=VARCHAR},
      </if>
      <if test="herbDisease != null">
        #{herbDisease,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.xiaozhu.zzpes.entity.HerbInfoExample" resultType="java.lang.Long">
    select count(*) from herb_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update herb_info
    <set>
      <if test="record.herbSeq != null">
        herb_seq = #{record.herbSeq,jdbcType=BIGINT},
      </if>
      <if test="record.herbName != null">
        herb_name = #{record.herbName,jdbcType=VARCHAR},
      </if>
      <if test="record.herbEngName != null">
        herb_eng_name = #{record.herbEngName,jdbcType=VARCHAR},
      </if>
      <if test="record.herbFunction != null">
        herb_function = #{record.herbFunction,jdbcType=VARCHAR},
      </if>
      <if test="record.herbDisease != null">
        herb_disease = #{record.herbDisease,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update herb_info
    set herb_seq = #{record.herbSeq,jdbcType=BIGINT},
      herb_name = #{record.herbName,jdbcType=VARCHAR},
      herb_eng_name = #{record.herbEngName,jdbcType=VARCHAR},
      herb_function = #{record.herbFunction,jdbcType=VARCHAR},
      herb_disease = #{record.herbDisease,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.xiaozhu.zzpes.entity.HerbInfo">
    update herb_info
    <set>
      <if test="herbName != null">
        herb_name = #{herbName,jdbcType=VARCHAR},
      </if>
      <if test="herbEngName != null">
        herb_eng_name = #{herbEngName,jdbcType=VARCHAR},
      </if>
      <if test="herbFunction != null">
        herb_function = #{herbFunction,jdbcType=VARCHAR},
      </if>
      <if test="herbDisease != null">
        herb_disease = #{herbDisease,jdbcType=VARCHAR},
      </if>
    </set>
    where herb_seq = #{herbSeq,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xiaozhu.zzpes.entity.HerbInfo">
    update herb_info
    set herb_name = #{herbName,jdbcType=VARCHAR},
      herb_eng_name = #{herbEngName,jdbcType=VARCHAR},
      herb_function = #{herbFunction,jdbcType=VARCHAR},
      herb_disease = #{herbDisease,jdbcType=VARCHAR}
    where herb_seq = #{herbSeq,jdbcType=BIGINT}
  </update>
</mapper>