<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaozhu.zzpes.mapper.HerbOperationInfoMapper">
  <resultMap id="BaseResultMap" type="com.xiaozhu.zzpes.entity.HerbOperationInfo">
    <id column="herb_operation_seq" jdbcType="BIGINT" property="herbOperationSeq" />
    <result column="herb_seq" jdbcType="INTEGER" property="herbSeq" />
    <result column="operation_seq" jdbcType="INTEGER" property="operationSeq" />
    <result column="unit_seq" jdbcType="INTEGER" property="unitSeq" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    herb_operation_seq, herb_seq, operation_seq, unit_seq
  </sql>
  <select id="selectByExample" parameterType="com.xiaozhu.zzpes.entity.HerbOperationInfoExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from herb_operation_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from herb_operation_info
    where herb_operation_seq = #{herbOperationSeq,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from herb_operation_info
    where herb_operation_seq = #{herbOperationSeq,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.xiaozhu.zzpes.entity.HerbOperationInfoExample">
    delete from herb_operation_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.xiaozhu.zzpes.entity.HerbOperationInfo">
    insert into herb_operation_info (herb_operation_seq, herb_seq, operation_seq, 
      unit_seq)
    values (#{herbOperationSeq,jdbcType=BIGINT}, #{herbSeq,jdbcType=INTEGER}, #{operationSeq,jdbcType=INTEGER}, 
      #{unitSeq,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.xiaozhu.zzpes.entity.HerbOperationInfo">
    insert into herb_operation_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="herbOperationSeq != null">
        herb_operation_seq,
      </if>
      <if test="herbSeq != null">
        herb_seq,
      </if>
      <if test="operationSeq != null">
        operation_seq,
      </if>
      <if test="unitSeq != null">
        unit_seq,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="herbOperationSeq != null">
        #{herbOperationSeq,jdbcType=BIGINT},
      </if>
      <if test="herbSeq != null">
        #{herbSeq,jdbcType=INTEGER},
      </if>
      <if test="operationSeq != null">
        #{operationSeq,jdbcType=INTEGER},
      </if>
      <if test="unitSeq != null">
        #{unitSeq,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.xiaozhu.zzpes.entity.HerbOperationInfoExample" resultType="java.lang.Long">
    select count(*) from herb_operation_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update herb_operation_info
    <set>
      <if test="record.herbOperationSeq != null">
        herb_operation_seq = #{record.herbOperationSeq,jdbcType=BIGINT},
      </if>
      <if test="record.herbSeq != null">
        herb_seq = #{record.herbSeq,jdbcType=INTEGER},
      </if>
      <if test="record.operationSeq != null">
        operation_seq = #{record.operationSeq,jdbcType=INTEGER},
      </if>
      <if test="record.unitSeq != null">
        unit_seq = #{record.unitSeq,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update herb_operation_info
    set herb_operation_seq = #{record.herbOperationSeq,jdbcType=BIGINT},
      herb_seq = #{record.herbSeq,jdbcType=INTEGER},
      operation_seq = #{record.operationSeq,jdbcType=INTEGER},
      unit_seq = #{record.unitSeq,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.xiaozhu.zzpes.entity.HerbOperationInfo">
    update herb_operation_info
    <set>
      <if test="herbSeq != null">
        herb_seq = #{herbSeq,jdbcType=INTEGER},
      </if>
      <if test="operationSeq != null">
        operation_seq = #{operationSeq,jdbcType=INTEGER},
      </if>
      <if test="unitSeq != null">
        unit_seq = #{unitSeq,jdbcType=INTEGER},
      </if>
    </set>
    where herb_operation_seq = #{herbOperationSeq,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xiaozhu.zzpes.entity.HerbOperationInfo">
    update herb_operation_info
    set herb_seq = #{herbSeq,jdbcType=INTEGER},
      operation_seq = #{operationSeq,jdbcType=INTEGER},
      unit_seq = #{unitSeq,jdbcType=INTEGER}
    where herb_operation_seq = #{herbOperationSeq,jdbcType=BIGINT}
  </update>
</mapper>